/*GLOBAL*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    background-color: black;
}
html * {
    /* background-color: black; */
    color: white;
    font-family: 'Raleway', sans-serif !important;
}
header{
    background-color: black;
    color: white;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: gray !important;
    transition: 0.2s linear;
}
div{
    background-color: black;
}
ul{
    list-style: none;
    padding-left: 0px;
}
.maindiv, footer{
    padding-left: 25%;
    padding-right: 25%;
}
@media only screen and (min-width: 3001px){
    .maindiv, footer{
        padding-left: 35%;
        padding-right: 35%;
    }
}
@media only screen and (min-width: 2001px) and (max-width: 3000px) {
    .maindiv, footer{
        padding-left: 30%;
        padding-right: 30%;
    }
}
@media only screen and (min-width: 1701px) and (max-width: 2000px){
    .maindiv, footer{
        padding-left: 26%;
        padding-right: 26%;
    }
}
@media only screen and (min-width: 1371px) and (max-width: 1700px){
    .maindiv, footer{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1370px){
    .maindiv, footer{
        padding-left: 16%;
        padding-right: 16%;
    }
}
@media only screen and (min-width: 1081px) and (max-width: 1200px){
    .maindiv, footer{
        padding-left: 13%;
        padding-right: 13%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1080px){
    .maindiv, footer{
        padding-left: 13%;
        padding-right: 13%;
    }
}
@media only screen and (min-width: 871px) and (max-width: 1024px){
    .maindiv, footer{
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 870px){
    .maindiv, footer{
        padding-left: 3%;
        padding-right: 3%;
    }
}

/*HEADER*/
/******************MOBILE**************** */
@media only screen and (max-width: 810px){
    .mobile{
        display: block;
    }
}
@media only screen and (min-width: 811px){
    .mobile{
        display: none;
    }
}
.menu-button-mobile{
    background-color: black;
    border-style: none;
}
.top-img-mobile{
    text-align: left;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navmenu-mobile{
    padding: 20px 20px 20px 20px;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    animation-name: appear;
    animation-duration: 0.4s;
}
@keyframes appear {
    0%   {opacity: 0%;}
    10%  {opacity: 10%;}
    20%  {opacity: 20%;}
    30%  {opacity: 30%;}
    40%  {opacity: 40%;}
    50%  {opacity: 50%;}
    60%  {opacity: 60%;}
    70%  {opacity: 70%;}
    80%  {opacity: 80%;}
    90%  {opacity: 90%;}
    100% {opacity: 100%;}
}
.navmenu-mobile li{
    padding: 10px 0 10px 0;
    font-size: 18px;
}
/******************MOBILE**************** */
@media only screen and (max-width: 810px){
    .fullsize{
        display: none;
    }
}
.navbar{
    display: flex;
    width: 800px;
    margin: auto;
}
.navbar a{
    padding-right: 15px;
}
.navbar a:hover{
    color: gray !important;
}
.top-img{
    text-align: center;
}
.navbar a{
    padding: 10px;
}
hr.navbar-break{
    border-top: #878787;
    margin: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 25px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.gray{
    background-color: #171717;
}

/*FOOTER*/
footer{
    background-color: #171717;
}
footer div{
    background-color: #171717;
}
.footer-div{
    width: 100%;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 400px) and (max-width: 990px){
    .footer-div{
        display: block;
        text-align: center;
        font-size: 14px;
    }
    .footer-email{
        margin: auto;
        text-align: center;
    }
    .footer-nav li{
        font-size: 12px !important;
        padding: 0 10px 0 10px !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 399px){
    .footer-div{
        display: block;
        text-align: center;
        font-size: 12px;
    }
    .footer-email{
        margin: auto;
        text-align: center;
    }
    .footer-nav li{
        font-size: 10px !important;
        padding: 0 10px 0 10px !important;
    }
}
.footer-email{
    width: fit-content;
    color: white;
    text-align: right;
}
.address-openinghours{
    color:white;
}
.footer-nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav li{
    width: fit-content;
    font-size: 14px;
    padding: 0 20px 0 20px;
}
.footer-nav a{
    color: #878787 !important;
}
.footer-nav a:hover{
    color: white !important;
    transition: 0.2s linear;
}