.reviewlist{
    width: 100%;
}
.reviewlist li{
    display: flex;
    flex-wrap: wrap;
    padding:40px 0
}

@media screen and (max-width:866px) {
    .reviewlist li{
        display: block;
    }
    .reviewlist div{
        width: 100% !important;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:866px) {
    .reviewlist li{
        display: block;
    }
    .reviewlist div{
        width: 100% !important;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:767px) {
    .reviewlist li>div:nth-child(1){
        text-align: center;
    }
}
.reviewlist li>div:nth-child(1){
    width: 30%;
}
.reviewlist li>div:nth-child(2){
    width: 70%;
    padding-left: 10px;
}
h6{
    text-align: right;
}
.buyticket{
    text-decoration: underline;
}